@charset "UTF-8";
/*палитра цветов*/
/*шрифты*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*480px, 768px и 1200px*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

header {
  min-height: 80px;
}

@media screen and (max-width: 767px) {
  header {
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.conteiner-center {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  font-family: inherit;
}

.section-titlle {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.element {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .element {
    text-align: left;
  }
}

.title {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.img-block {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  main {
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.web-container {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .web-container {
    top: 100%;
    z-index: 1;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    left: 0;
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .web-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .web-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.web-container.is-open {
  display: block;
}

.nav-element {
  margin-left: 50px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav-element {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .nav-element:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-element:first-child {
    margin-left: 80px;
  }
}

.nav-element:hover .link::after,
.nav-element:focus .link::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 480px) {
  .nav-element:hover .link::after,
  .nav-element:focus .link::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

@media screen and (min-width: 768px) {
  .nav-element:hover .link::after,
  .nav-element:focus .link::after {
    -webkit-transform: translateY(38px);
            transform: translateY(38px);
  }
}

@media screen and (min-width: 1200px) {
  .nav-element:hover .link::after,
  .nav-element:focus .link::after {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
  .nav-element:hover .link::after:first-child,
  .nav-element:focus .link::after:first-child {
    margin-left: 85px;
  }
}

@media screen and (min-width: 768px) {
  .nav-telefone {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-telefone {
    margin-left: 50px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts-conteiner {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-left: 230px;
    padding: 0;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact:hover, .contact:focus {
  color: #2196f3;
  fill: #2196f3;
}

.e-mail {
  width: 16px;
  height: 17.2px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .web-header {
    position: absolute;
    top: 0;
  }
}

.web {
  color: #2196f3;
}

.web-tittle {
  color: #212121;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

@media screen and (max-width: 767px) {
  .web-header {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
  }
}

.web-footer {
  color: #2196f3;
}

.web-tittle-footer {
  color: #212121;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

@media screen and (max-width: 767px) {
  .mail-container {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.current {
  color: #2196f3;
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .current-link::after {
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .current-link::after {
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: translateY(38px);
            transform: translateY(38px);
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .current-link::after {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
  }
}

.link {
  color: #212121;
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 100%;
}

.link:focus, .link:hover {
  color: #2196f3;
}

.menu:hover,
.menu:focus {
  fill: #2196f3;
}

.menu-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.caption {
  text-align: center;
}

.hero-titlle {
  font-size: 26px;
  line-height: 1.6;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Roboto;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-titlle {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
}

.background-hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-mobil.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .background-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-computer.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-computer.jpg);
  }
}

.section-efect {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .section-efect {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.is-hiden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  width: 320px;
  padding: 16px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    padding: 40px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
    padding: 40px;
  }
}

.clouse-button {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  --color3: rgba(0, 0, 0, 0.1);
}

.clouse-button:focus svg {
  --color2: var(--hover-color);
  --color3: rgba(0, 0, 0, 0.1);
}

.comment {
  margin-bottom: 20px;
}

.comment-text {
  display: block;
  position: absolute;
  left: 0;
  top: -25px;
}

.comment-block {
  padding: 16px;
  height: 120px;
  width: 288px;
}

@media screen and (min-width: 480px) {
  .comment-block {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .comment-block {
    width: 448px;
  }
}

.name,
.email,
.tel {
  display: block;
  margin-bottom: 28px;
  padding-left: 42px;
  padding-right: 16px;
  width: 288px;
  height: 40px;
}

@media screen and (min-width: 480px) {
  .name,
  .email,
  .tel {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .name,
  .email,
  .tel {
    width: 448px;
  }
}

.name:focus,
.email:focus,
.tel:focus,
.comment-block:focus {
  outline-color: #2196f3;
  border: 1px;
  border-radius: 4px;
}

.comment-block:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.comment-block:focus:-ms-input-placeholder {
  color: #2196f3;
}

.comment-block:focus::-ms-input-placeholder {
  color: #2196f3;
}

.comment-block:focus::placeholder {
  color: #2196f3;
}

.name-text,
.mail-text,
.tel-text,
.comment {
  display: block;
  position: relative;
}

.checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .check-icon {
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.button-submit {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  width: 200px;
  height: 50px;
}

.text-form {
  position: absolute;
  left: 0;
  top: -25px;
}

.modal-heading {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  display: block;
  font-family: Roboto;
  width: 288px;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal-heading {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-heading {
    width: 448px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

.modal-svg {
  position: absolute;
  display: block;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.name:focus + .modal-svg,
.tel:focus + .modal-svg,
.email:focus + .modal-svg {
  fill: #2196f3;
}

.consent {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .consent {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.consent-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .consent-block {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.invisibility {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}

.reasons-iteam {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .reasons-iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .reasons-iteam {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .reasons-iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 94px;
  }
}

.reasons-element {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .reasons-element {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .reasons-element:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .reasons-element {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .reasons-element:nth-child(2n) {
    margin-right: 30px;
  }
  .reasons-element:last-child {
    margin-right: 0;
  }
}

.reasons-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  min-height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons-svg {
  width: 70px;
  height: 70px;
}

.employtment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}

.employtment-conteiner {
  width: 370px;
}

.title-employment {
  position: relative;
  top: -70px;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .employtment-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 0;
  }
}

.our-content {
  margin-bottom: 30px;
  padding-bottom: 30px;
  display: block;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc(100% - 30px);
  margin-right: auto;
  margin-left: auto;
}

.our-content:last-child {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .our-content {
    width: calc((100% - 30px) / 2);
    margin-left: 0;
    margin-right: 30px;
  }
  .our-content:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .our-content:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-content {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .our-content:nth-child(2n) {
    margin-right: 30px;
  }
  .our-content:last-child {
    margin-right: 0;
  }
  .our-content:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.our-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.social-element:first-child {
  margin-left: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
}

.social-links:hover, .social-links:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}

.contents {
  text-align: center;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
}

.text-contents {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 10px;
}

.background {
  background-color: #f5f4fa;
  width: 100%;
}

.img-block {
  width: 100%;
}

.client-container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1199px) {
  .client-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .client-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.client-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.client-box:hover, .client-box:focus {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .client-box {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .client-box:nth-child(2n) {
    margin-right: 0;
  }
  .client-box:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .client-box {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-left: 0;
  }
  .client-box:nth-child(3n) {
    margin-right: 0;
  }
  .client-box:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-box:nth-child(3n) {
    margin-right: 30px;
  }
  .client-box:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
  .client-box:last-child {
    margin-right: 0;
  }
}

.client {
  fill: #afb1b8;
}

.client-box:hover .client,
.client-box:focus .client {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  width: 100%;
}

.footer-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-content {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-content {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 270px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    margin-bottom: 0;
  }
}

.footer-contacts {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.mail-footer,
.contact-footer {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-join {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-join {
    min-width: 270px;
    margin-left: 30px;
  }
}

.join {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 0;
  margin-top: 0;
}

.footer-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress {
  color: var(--background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-adress {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-sign {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign {
    min-width: 570px;
    margin-left: 30px;
  }
}

.sign {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px;
  height: 50px;
}

.sign-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 479px) {
  .sign {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .sign {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign {
    width: 358px;
    height: 50px;
    padding: 16px;
    margin-right: 12px;
  }
}

.footer-element {
  margin-top: 9px;
}

.join-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin-left: 10px;
  width: 44px;
  height: 44px;
}

.join-element:first-child {
  margin-left: 0;
}

.join-element:hover, .join-element:focus {
  background-color: #2196f3;
}

.footer-icon {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .email-flex {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-button {
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  border: none;
  width: 200px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .footer-button {
    margin-top: 20px;
  }
}

.icon-send {
  position: absolute;
  right: 29px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.web-studio {
  color: #ffffff;
}

.background-button {
  background-color: #f5f4fa;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: inherit;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
}

.background-button:hover,
.background-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .button-container {
    padding-top: 94px;
  }
}

.button-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .button-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button {
  margin-right: 8px;
  margin-bottom: 16px;
}

.button:last-child {
  margin-right: 0;
}

/*
.button {
  margin-left: 8px;
  @media screen and(max-width: 399px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 400px), (max-width: 508px) {
    &:nth-last-child(-n + 2) {
      margin-top: 15px;
    }
  }
  @media screen and(min-width: 509px), (max-width: 646px) {
    &:last-child {
      margin-top: 0;
    }
    &:nth-child(4) {
      margin-top: 0;
    }
  }
  @media screen and(min-width: 650px) {
    &:last-child {
      margin-left: 8px;
    }
  }
}
*/
.portfolio-box {
  padding-bottom: 94px;
  padding-left: 15;
}

.portfolio-content {
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-card {
  position: relative;
  margin-bottom: 30px;
  margin-top: 40px;
  border: 1px solid #eeeeee;
}

.portfolio-card:last-child {
  margin-bottom: 0;
}

.portfolio-card:first-child {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .portfolio-card:nth-child(-n + 2) {
    margin-top: 14px;
  }
  .portfolio-card:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-card:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio-card:nth-child(-n + 3) {
    margin-top: 34px;
  }
  .portfolio-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio-card:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.portfolio-card:hover,
.portfolio-card:focus {
  border: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:hover .card-text::before,
.portfolio-card:focus .card-text::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-tittle {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
}

.portfolio-conteiner {
  text-decoration: none;
  display: block;
}

.portfolio-element {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  padding-bottom: 20px;
}

.portfolio-text-prob {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 480px) {
  .portfolio-text-prob {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-top: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-text-prob {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.portfolio-card:hover .portfolio-text-prob,
.portfolio-card:focus .portfolio-text-prob {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text:hover::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
/*# sourceMappingURL=main.css.map */