/*:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --hover-color: #2196f3;
  --background-button: #f5f4fa;
  --background-color: #ffffff;
  --background-hero: rgba(47, 48, 58, 0.8);
  --icon: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
 шапка сайта */
/*
.background {
  background-color: var(--background-button);
}
*/
/*.conteiner-center {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.web-container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-element:hover .link::after,
.nav-element:focus .link::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(28px);
  height: 4px;
  width: 100%;

  background-color: var(--hover-color);
  border-radius: 2px;
}
*/
/*
.current-link::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(28px);
  height: 4px;
  width: 100%;

  background-color: var(--hover-color);
  border-radius: 2px;
}

.header {
  max-width: 1600px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  margin-right: auto;
  margin-left: auto;
}
.header-nav {
  display: flex;
  width: 570px;
  align-items: center;
}

.nav-container {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.contacts-conteiner {
  display: flex;
  width: 370px;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
}
*/
/*
.mail-container {
  display: flex;
}

.nav-element {
  margin-left: 50px;
  position: relative;
  height: 100%;
}
.nav-element:first-child {
  margin-left: 85px;
}

.caption {
  text-align: center;
}
*/
/*
.web-tittle {
  color: var(--title-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.web {
  color: var(--hover-color);
}

.e-mail {
  width: 16px;
  height: 17.2px;
  margin-right: 10px;
}

.button {
  font-family: inherit;
}
*/
/*
.link:focus,
.link:hover {
  color: var(--hover-color);
}
.link {
  color: var(--title-color);
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 100%;
}

.current {
  color: #2196f3;
}
*/
/*
.contacts-conteiner .contact {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.contacts-conteiner .contact:hover,
.contacts-conteiner .contact:focus {
  color: var(--hover-color);
}

.contact {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
}
.contact:hover,
.contact:focus {
  fill: var(--hover-color);
}
*/
/*
.contacts-conteiner {
  display: flex;
  width: 370px;
  margin: 0;
  padding: 0;
}
*/
/*hero*/
/*
.hero-titlle {
  color: var(--background-color);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--background-color);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
}
*/
/*
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.is-hiden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--background-color);
}
.clouse-button {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--background-color);
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  --color3: rgba(0, 0, 0, 0.1);
}
.clouse-button:focus svg {
  --color2: var(--hover-color);
  --color3: rgba(0, 0, 0, 0.1);
}
*/
/*
.name-text,
.mail-text,
.tel-text,
.comment {
  display: block;
  position: relative;
}

.comment {
  margin-bottom: 20px;
}
.comment-text {
  display: block;
  position: absolute;
  left: 0;
  top: -25px;
}
*/
/*
.name,
.email,
.tel {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
  padding-left: 42px;
  padding-right: 16px;
}


.comment-block {
  width: 448px;
  height: 120px;
  padding: 16px;
}

.name:focus,
.email:focus,
.tel:focus,
.comment-block:focus {
  outline-color: var(--hover-color);

  border: 1px;
  border-radius: 4px;
}
.comment-block:focus::placeholder {
  color: var(--hover-color);
}
*/
/*
.checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox:checked + .check-icon {
  background-color: var(--hover-color);
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--hover-color);
}
.button-submit {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--background-color);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  width: 200px;
  height: 50px;
}
*/
/*
.text-form {
  position: absolute;
  left: 0;
  top: -25px;
}
.modal-heading {
  margin-bottom: 30px;

  display: block;
  width: 448px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: black;
}
.modal-svg {
  position: absolute;
  display: block;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
*/
/*
.name:focus + .modal-svg,
.tel:focus + .modal-svg,
.email:focus + .modal-svg {
  fill: var(--hover-color);
}
.consent-block {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  margin-left: 12px;
}
.consent {
  color: var(--hover-color);
}
*/
/*
.background-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-efect {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
*/ /* секции */
/*
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
*/
/*
.invisibility {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}
.reasons-iteam {
  display: flex;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.reasons-element {
  width: 270px;
  margin-right: 30px;
}
.reasons-element:last-child {
  margin-right: 0;
}
*/
/*
.reasons-background {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.reasons-svg {
  width: 70px;
  height: 70px;
}

.section-titlle {
  color: var(--title-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.title {
  color: var(--background-color);
  background: rgba(47, 48, 58, 0.8);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
*/
/*
.pictures-svg {
  display: block;
}

.employtment {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  padding-left: 0px;
}
.employtment-conteiner {
  width: 370px;
}
*/
/*
.title-employment {
  position: relative;
  top: -70px;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  color: var(--background-color);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.text {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
}
*/
/*
.our-container {
  display: flex;
  padding-left: 0;
}
.our-content {
  width: 270px;
  height: 422px;
  margin-right: 30px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-content:last-child {
  margin-right: 0;
}
.our-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
/*
.social {
  display: flex;
  padding-left: 0;
  margin-top: 16px;
  justify-content: space-around;
  margin-left: 32px;
  margin-right: 24px;
}
.social-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.social-element:first-child {
  margin-left: 0;
}
*/
/*
.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.social-links:hover,
.social-links:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}
*/
/*
.contents {
  color: var(--title-color);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
}
.text-contents {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 10px;
}

.element {
  color: var(--title-color);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}
*/
/*
.client-container {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}

.client-card:hover,
.client-card:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon);
}
*/
/*footer*/
/*
.footer {
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer-content {
  display: flex;
  width: 270px;
  flex-direction: column;
  align-items: start;
}
.footer-contacts {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail-footer,
.contact-footer {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
*/
/*
.social-footer {
  display: flex;
  padding-left: 0;
}
.footer-join {
  width: 270px;
  margin-left: 30px;
}
.join {
  text-transform: uppercase;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-left: 0;
}
.footer-tittle {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.adress {
  color: var(--background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-adress {
  margin-top: 20px;
}
.footer-sign {
  width: 570px;
  margin-left: 30px;
}
.sign {
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
}
.sign-text {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
*/
/*
.footer-element {
  margin-top: 9px;
}
.join-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin-left: 10px;
  width: 44px;
  height: 44px;
}
.join-element:first-child {
  margin-left: 0;
}
.join-element:hover,
.join-element:focus {
  background-color: var(--hover-color);
}

.footer-icon {
  fill: var(--background-color);
}
*/
/*
.email-container {
  position: relative;
  display: inline-block;
}
.footer-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--background-color);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  border: none;
}
.icon-send {
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
}
.web-studio {
  color: var(--background-color);
}
*/
/*портфолио*/
/*
.background-button {
  background-color: var(--background-button);
  color: var(--title-color);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: inherit;
}

.background-button:hover,
.background-button:focus {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.button-container {
  display: flex;
  padding-top: 94px;
  justify-content: center;
}
.button-team {
  display: flex;
  padding-left: 0;
}
.button {
  margin-left: 8px;
}
.button:first-child {
  margin-left: 0;
}
*/
/*
.portfolio-box {
  padding-bottom: 94px;
  padding-left: 15;
}
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.portfolio-card {
  position: relative;
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
*/
/*
.portfolio-card:nth-child(-n + 3) {
  margin-top: 50px;
}
.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-card:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-card:hover .card-text::before,
.portfolio-card:focus .card-text::before {
  transform: translateY(0);
}
.portfolio-tittle {
  color: var(--title-color);
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
}

.portfolio-conteiner {
  text-decoration: none;
  display: block;
}
.portfolio-element {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  padding-bottom: 20px;
}
.portfolio-text-prob {
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(100%);
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--background-color);

  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-top: 63px;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-card:hover .portfolio-text-prob,
.portfolio-card:focus .portfolio-text-prob {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.card-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-text:hover::before {
  content: "";
  position: absolute;
  transform: translateY(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-conteiner {
  position: relative;
}
*/
