.client-container {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}
.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icon;
  box-sizing: border-box;
  border-radius: 4px;
  fill: $icon;
}
.client-card:hover,
.client-card:focus {
  fill: $hover-color;
  border: 1px solid $hover-color;
}
