html {
  box-sizing: border-box;
}
/*480px, 768px и 1200px*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: $background-color;
  color: $primary-text-color;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
header {
  @media screen and(max-width: 767px) {
    position: relative;
  }
  min-height: 80px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.conteiner-center {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.button {
  font-family: inherit;
}
.section-titlle {
  color: $title-color;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.element {
  color: $title-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  @media screen and(min-width: 768px) {
    text-align: left;
  }
}
.title {
  color: $background-color;
  background: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.img-block {
  display: block;
  width: 100%;
}
