/*палитра цветов*/
$primary-text-color: #757575;
$title-color: #212121;
$hover-color: #2196f3;
$background-button: #f5f4fa;
$background-color: #ffffff;
$background-hero: rgba(47, 48, 58, 0.8);
$icon: #afb1b8;
$footer: #2f303a;
/*шрифты*/
$font-family-base: Roboto;
$font-family-secondary: Raleway;
